<!--
    Interfaz visual del bot
-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Widget</title>
    <link rel="stylesheet" href="/css/widget.css">
</head>
<body>
    <!-- Encabezado del chat -->
    <div id="chatHeader">
        <img id="bot-avatar" src="" alt="Avatar del bot">
        <div class="chatTitle">
            <p id="chat-title"></p>
            <p id="chat-subtitle"></p>
        </div>
        <button id="clear-chat-btn" title="Limpiar chat">Limpiar chat</button>
    </div>

    <div id="chat"></div>
    <div id="inputArea">
        <input type="text" id="userInput" placeholder="Escribí tu mensaje..."/>
        <button id="chat-send" onclick="sendMessage()">➤</button>
    </div>

    <script src="/js/widget.js"></script>
</body>
</html>
